# Application Port
PORT=3000

# Supabase PostgreSQL Connection Strings
# Replace [YOUR-PASSWORD] and [YOUR-PROJECT-REF] with your Supabase database credentials.

# 1. Connection Pooled URL (Transaction Pooler - Port 6543)
DATABASE_URL="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 2. Direct Connection URL (Session / Direct - Port 5432 - Required for Prisma Migrations & Db Push)
DIRECT_URL="postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

UPLOAD_DIR=./uploads
